
# General temporary files
*.swp
*.pyc
*.o
*.a
*.so
*.h.gch

.DS_Store

# Web
node_modules

# Build output
build
build_*

# Folder for storing temporary files
tmp

# I use this for holding my flight log dumps
log
