[submodule "lib/Firmware"]
	path = lib/Firmware
	url = https://github.com/dennisss/Firmware.git
[submodule "include/mavlink"]
	path = include/mavlink
	url = https://github.com/mavlink/c_library_v1.git
