
# General temporary files
*.swp
*.pyc
*.o
*.a
*.so
*.h.gch

.DS_Store

# Web
node_modules

# Build output
build
build_*

# Compiled 3d printer instructions
*.gcode

# Compiled Gazebo descriptions
*.sdf

# Folder for storing temporary files
tmp

# I use this for holding my flight log dumps
log

# IDE Files from CLion
.idea/