<launch>


	<arg name="fcu_url" default="udp://:14550@192.168.8.81:14550" />

	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<!--<param name="gcs_url" value="$(arg gcs_url)" />-->
		<!--<param name="target_system_id" value="$(arg tgt_system)" />-->
		<!--<param name="target_component_id" value="$(arg tgt_component)" />-->

		<!--rosparam command="load" file="$(find mavros)/launch/px4_blacklist.yaml"-->

		<!-- enable heartbeat send and reduce timeout -->
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="5.0" />

		<param name="conn/timesync_rate" value="0.0" />
		<param name="conn/system_time_rate" value="0.0" />

		<!-- automatically start mavlink on USB -->
		<!--<param name="startup_px4_usb_quirk" value="true" />-->

		<param name="mocap/use_tf" value="false"/>
		<param name="mocap/use_pose" value="true"/>
	</node>

	<node name="mocap_node" pkg="tansa" type="mocap_node" output="screen">
		<remap from="/mocap/1/pose" to="/mavros/mocap/pose" />
	</node>

	<!--
	<node name="mocap_node" pkg="tansa" type="mocap_node" output="screen">
		<remap from="/mocap/1/pose" to="/mavros/mocap/pose" />
	</node>
	-->


	<!--
	<node name="setpoint_pub" pkg="inrol_ros" type="pub_setpoints_pos" output="screen">

	</node>
	-->

</launch>
