<launch>
	<!--- For starting a simulation environment --->



	<!-- Start PX4 / sitl_gazebo with gazebo_ros -->

	<!-- Start rosbridge_suite -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>


	<!-- Start swarm node in simulation mode (this should start up instances of mavros corresponding to the gazebo models) -->

	<!--
	<node name="mocap_node" pkg="tansa" type="mocap_node" output="screen">
		<remap from="/mocap/1/pose" to="/mavros/mocap/pose" />
	</node>
	-->
</launch>
