<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		<arg name="headless" value="true" />
		<arg name="gui" value="false" />
	</include>


	<node name="mocap_gazebo_node" pkg="tansa" type="mocap_gazebo_node">
		<remap from="/mocap/1/pose" to="/mavros/mocap/pose" />
	</node>


</launch>
